<% include ../partials/header %>

<div class="ui container">
  <div class="ui grid">
    <div class="four wide column">
      <div class="ui vertical fluid tabular menu">
        <a href="/profile" class="item">
          My Profile
        </a>
        <a href="/profile/wishlist" class="item">
          Wishlist
        </a>
        <a href="/profile/orders" class="item active">
          Your Orders
        </a>
      </div>
    </div>
    <div class="twelve wide stretched column">
      <div class="ui segment profile">
        <div class="ui header">
          <h2 class="header">Your Orders</h2>
          <div class="ui items">
            <% user.orders.forEach(function(order){ %>
              <div class="ui segment">

                <div class="item">
                  <div class="content">
                    <a class="ui header vertical segment" href="/profile/orders/<%=order._id %>">Order # <%=order._id%></a>
                    <div class="meta">
                      <span>You ordered this on <%= order.date.toDateString() %></span>
                    </div>
                    <div class="description">
                      <a href="/profile/orders/<%=order._id%>">Order Details</a>
                    </div>

                  </div>
                </div>
              </div>

            <% }) %>

          </div>


        </div>
      </div>
    </div>
  </div>
</div>



<% include ../partials/footer %>
