<% include ../partials/header %>

<div class="ui container">
  <div class="ui grid">
    <div class="four wide column">
      <div class="ui vertical fluid tabular menu">
        <a href="/profile" class="item">
          My Profile
        </a>
        <a href="/profile/wishlist" class="item active">
          Wishlist
        </a>
        <a href="/profile/orders" class="item">
          Your Orders
        </a>
      </div>
    </div>
    <div class="twelve wide stretched column">
      <div class="ui segment profile">
        <div class="ui header">
          Your Wishlist

        </div>
      </div>
    </div>
  </div>
</div>



<% include ../partials/footer %>
