<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Sample Shop</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css" type="text/css">
  </head>
  <body>

<div class="ui fixed menu">
  <div class="ui container">
    <div class="header item">
      Adventurer's Outpost
    </div>
    <a href="/" class="item">Home</a>
    <a href="/products" class="item">All Products</a>
    <a href="/products/clothing" class="item">Clothing</a>
    <a href="/products/tech" class="item">Technology</a>
    <a href="/products/consumables" class="item">Edibles</a>
  <div class="right menu">
    <a href="#" class="item">Login</a>
    <a href="#" class="item">Sign Up!</a>
  </div>
  </div>
</div>
