<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Sample Shop</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css" type="text/css">
  <link rel="stylesheet" href="/stylesheets/main.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
  </head>
  <body>

<div class="ui fixed inverted menu">
  <div class="ui container">
    <div class="header item">
      Adventurer's Outpost
    </div>
    <a href="/" class="item">Home</a>
    <a href="/products" class="item">All Products</a>
    <a href="/products/clothing" class="item">Clothing</a>
    <a href="/products/tech" class="item">Technology</a>
    <a href="/products/consumables" class="item">Consumables</a>
  <div class="right menu">
    <% if(currentUser && currentUser.isAuthorized){%>
      <a href="#" class="item">Manage</a>
    <%}%>
    <% if(!currentUser){ %>
      <a href="/login" class="item">Login</a>
      <a href="/register" class="item">Sign Up!</a>
    <% } else{ %>
      <a href="/logout" class="item">Log Out</a>
    <% } %>
    <a class="item header-icon" href="/cart"><i class="fas fa-shopping-cart"></i></a>
      <% if(currentUser){ %>
        <a href="/profile" class="item"><i class="fas fa-user-astronaut header-icon"></i><span class="spacing-span"></span> <%=currentUser.username%></a>
      <% } %>
  </div>
  </div>
</div>

<div class="container spacing">

</div>

<div class="ui container">
  <% if(success && success.length>0){ %>
    <div class="ui teal inverted segment">
      <%= success %>
    </div>
  <% } %>
  <% if(error && error.length >0){%>
    <div class="ui yellow inverted segment">
      <%= error %>
    </div>
  <% } %>
</div>
