<% include ./partials/header %>

<div id="slider-holder">
      <span class="slider-image" id="slider-image-1"></span>
      <span class="slider-image" id="slider-image-2"></span>
      <span class="slider-image" id="slider-image-3"></span>
      <div id="slider-text">
        Selling Adventurer's Gear since Middle Earth.

      </div>
</div>

<% include ./partials/footer %>
