

.ui.fluid.card .blurring.image{
  background: none;

}

.card .image img, .ui.card .image #image-thumb{
  object-fit: cover;
  height: 200px;
  width: 100%;
  background: none;
  border-radius: 1px;
}

.blurring.dimmable.centered.image .content{
  margin: 3px;
  margin-left: 6px;
}

.ui.fluid.card{
  border-radius: 0px;
  box-shadow: none;
}

.ui.top.aligned.dimmer .content{
  border-radius: 1px;
  box-shadow: none;
}


.ui.container.form{
  max-width: 500px !important;
}

.detail-button{
  margin-top:30%
}

.container.spacing{
  height:50px;
}

.spacing-span{
  width: 10px;
}

.header-icon{
  font-size: 1.2rem;
}

.display-none{
  display: none;
}

#homepage-background{
  position: relative;
  background-color:black;
  height: 100vh;
  overflow: hidden;
  z-index: 1;
}

#slider1{
  top:-100%;
  left: 100%;
  background-size: cover;
  background-position: 50%;
  height: 100vh;
  overflow: hidden;
  z-index: 2;
  background-image: url("https://images.unsplash.com/photo-1453791052107-5c843da62d97?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80")
}

#wishlist-thumb{
  object-fit: cover;
  height: 150px;
  width: 100%;
  background: none;
  border-radius: 1px;
}

#wishlist-content{
  height: 150px;
}

#cart-thumb{
  object-fit: cover;
  height: 200px;
  width: 100%;
}

#review-container{
  margin-top:40px;
}

#main-product-content{
  height:100%
}

#product-title{
  margin-top:10px;
  margin-bottom: 25px;
}

#product-description{
  margin-top: 5px;
  margin-bottom: 20px;
}

#add-cart{
  margin-top: auto;
  margin-bottom: 10px;
}

.profile{
  height:70vh
}
