.top-space{
  margin-top: 15px;
}

.ui.fluid.card .blurring.image{
  background: none;
}

.ui.stackable.inverted.menu{
  margin-bottom: 1px;
  border-radius: 0px;
}

.card .image img, .ui.card .image #image-thumb{
  object-fit: cover;
  height: 200px;
  width: 100%;
  background: none;
  border-radius: 1px;
}

.blurring.dimmable.centered.image .content{
  margin: 3px;
  margin-left: 6px;
}

.ui.fluid.card{
  border-radius: 0px;
  box-shadow: none;
}

.ui.top.aligned.dimmer .content{
  border-radius: 1px;
  box-shadow: none;
}


.ui.container.form{
  max-width: 500px !important;
}

.detail-button{
  margin-top:30%
}

.container.spacing{
  height:50px;
}

.spacing-span{
  width: 10px;
}

.header-icon{
  font-size: 1.2rem;
}

.display-none{
  display: none;
}

.slider-image{
  height:100%;
  width: 100%;
  display:block;
}

.profile-content{
  min-height: 85vh;
}

#slider-text{
  z-index: 3;
  width: 100%;
  position: absolute;
  margin: 13% auto;
  text-align: center;
  letter-spacing: 3px;
  font-size: 1.3rem;
  color: rgba(255,255,255, 0.9);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9),
                5px 5px 8px rgba(0, 0, 0, 0.5)
}

#slider-holder{
  height: 90vh;
  margin: 0;
  padding: 0;
  background-color: black;
}

#slider-image-1{
  background-image: url("https://images.unsplash.com/photo-1519074069444-1ba4fff66d16?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1868&q=80");
  background-size: cover;
  background-repeat: none;
  background-position: 50% 50%;
  float:left;
  height: 90vh;
  position: absolute;
  z-index: 0;
  opacity: 1;
  display:block;
  -webkit-animation: slide1 20s infinite;
  -moz-animation:    slide1 20s infinite;
  -o-animation:      slide1 20s infinite;
  animation:         slide1 20s infinite;
}

#slider-image-2{
  background-image: url("https://images.unsplash.com/photo-1505159940484-eb2b9f2588e2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
  background-size: cover;
  background-repeat: none;
  background-position: 50% 50%;
  z-index: 1;
  float: left;
  opacity: 0;
  display: block;
  -webkit-animation: slide2 20s infinite;
  -moz-animation:    slide2 20s infinite;
  -o-animation:      slide2 20s infinite;
  animation:         slide2 20s infinite;
}
#slider-image-3{
  background-image: url("https://images.unsplash.com/photo-1510218830377-2e994ea9087d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1776&q=80");
  background-size: cover;
  background-repeat: none;
  background-position: 50% 50%;
  position: absolute;
  height: 90vh;
  z-index: 2;
  float: left;
  opacity: 0;
  display: block;
  -webkit-animation: slide3 20s infinite;
  -moz-animation:    slide3 20s infinite;
  -o-animation:      slide3 20s infinite;
  animation:         slide3 20s infinite;
}

#homepage-background{
  position: relative;
  background-color:black;
  height: 100vh;
  overflow: hidden;
  z-index: 1;
}

#slider1{
  top:-100%;
  left: 100%;
  background-size: cover;
  background-position: 50%;
  height: 100vh;
  overflow: hidden;
  z-index: 2;
  background-image: url("https://images.unsplash.com/photo-1453791052107-5c843da62d97?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80")
}

#wishlist-thumb{
  object-fit: cover;
  height: 150px;
  width: 100%;
  background: none;
  border-radius: 1px;
}

#wishlist-content{
  height: 150px;
}

#cart-thumb{
  object-fit: cover;
  height: 200px;
  width: 100%;
}

#review-container{
  margin-top:40px;
}

#main-product-content{
  height:100%
}

#product-title{
  margin-top:10px;
  margin-bottom: 25px;
}

#product-description{
  margin-top: 5px;
  margin-bottom: 20px;
}

#add-cart{
  margin-top: auto;
  margin-bottom: 10px;
}

.profile{
  height:70vh
}

@keyframes slide1{
  0% {
    opacity: 1;
  }
  17%{
    opacity: 1;
  }
  33%{
    opacity: 0;
  }
  83%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes slide2{
  17%{
    opacity: 0;
  }

  33%{
    opacity: 1;
  }

  50%{
    opacity: 1;
  }

  67%{
    opacity: 0;
  }
}

@keyframes slide3{

  50%{
    opacity: 0;
  }
  67%{
    opacity: 1;
  }
  83%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
