<% include ../partials/header %>

<div class="ui container top-space">
  <h2 class="ui big header">All Consumables </h2>
  <div class="ui grid stackable">
    <% products.forEach(function(product){ %>
      <div class="four wide column">
        <div class="ui special cards">
          <div class="ui fluid card">
              <div class="blurring dimmable centered image">
                <img id="image-thumb" src="<%=product.image%>">
                <div class="content">
                  <div class="description">
                    <div class="header">
                      <h4> <%= product.name %> </h4>
                    </div>
                    <div class="meta">
                      <p> $ <%= product.price %> </p>
                    </div>
                  </div>
                </div>
                <div class="ui top aligned dimmer">
                  <div class="content">
                    <div class="container detail-button">
                      <a class="ui button inverted" href="/products/<%= product._id %>"> See Details </a>
                    </div>
                  </div>
                </div>
              </div>

          </div>
        </div>
      </div>
    <% }) %>
  </div>
</div>

<script type="text/javascript">
    $('.special.cards .image').dimmer({
    on: 'hover'
  });
</script>
<% include ../partials/footer %>
