<% include ../partials/header %>

<h1> PRODUCT SHOW PAGE </h1>
<div class="ui container">
  <div class="ui card">
    <div class="image">
      <img src="<%=product.image%>">
    </div>
    <%= product.name %>

  </div>
</div>

<% include ../partials/footer %>
